

<div class="row">


  <div class="col-sm-6" *ngIf="departamentoSelecionado">
    <div class="row">
      <div class="mr-auto">
        <app-title [title]="'Código Departamento: ' + departamentoSelecionado.id"></app-title>
      </div>
      <div class="mt-1">
        <button class="btn btn-outline-danger" (click)='voltar()'>Voltar</button>
      </div>
    </div>
    
    <form [formGroup]="departamentoForm" (submit)="departamentoSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" formControlName="nome" class="form-control" >
      </div>
      <div class="form-group">
        <hr>
        <button class="btn btn-success" [disabled]="!departamentoForm.valid">Enviar</button>
    </div>
    </form>
  </div>
  
  <div [ngClass]="{'col-sm-6': departamentoSelecionado, 'col-sm-12': !departamentoSelecionado }">
    <app-title [title]="title"></app-title>
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let departamento of departamentos"
        style="cursor: pointer;" (click)="departamentoSelect(departamento)">
        <th scope="row">{{departamento.id}}</th>
        <td>{{departamento.nome}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





