<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a routerLink="dashboard" class="navbar-brand" >Início</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="vendedores"  class="nav-link">Vendedores</a>
          </li>
          <li class="nav-item" routerLinkActive="active">          
            <a routerLink="departamentos"  class="nav-link">Departamentos</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="vendas" class="nav-link" >Vendas</a>
          </li>
        </ul>
    </div>
    <ul class="navbar-nav" dropdown>
      <li class="nav-item dropdown">
        <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle"
        id="navbarDropdownMenuLink" role="button" style="cursor: point"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>        
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

